.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.item {
  display: grid;
  grid-template-rows: 250px 1fr;
  gap: 10px;
  overflow: hidden;
}

.imgBox {
  overflow: hidden;
  background-color: #f0f0f0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-height: 80%;
  object-fit: cover;
  object-position: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.name {
  /* white-space: nowrap; */
  /* min-height: 2.5rem; */
  /* flex-basis: 2.5rem; */
  flex: 1 0 2.5rem;
}

.priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
